.venv/
__pycache__/
*.py[cod]

build/
dist/
dist_new/
*.log

logs/*
!logs/.gitkeep
output/*
!output/.gitkeep

reverse_attempt/
attendance_tool_feature_update/
attendance_tool_feature_update.zip

*.spec.bak
